section {
    padding: 3rem 6rem;
    h1 {
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 64px;
        color: #282938;
    }
}
#section1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 42px;

    color: #282938;
}

#section2 {
    font-family: Poppins;
    font-style: normal;
    /* identical to box height, or 100% */

    /* Dark blue */

    color: #282938;
    h2 {
        font-weight: bold;
        font-size: 36px;
        line-height: 36px;
    }
}
