<form action="submit" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="inputEmail">Email address</label>
        <input type="email" id="inputEmail" class="form-control" formControlName="email"
            placeholder="Enter your Email Address" required>
        <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="alert alert-danger">
            <div *ngIf="email?.errors?.['required']">
                Email is required.
            </div>
            <div *ngIf="email?.invalid">
                Pls enter a valid email
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <div class="input-group mb-2">
            <input type="{{showPassword ? 'text' : 'password'}}" id="inputPassword"
                class="form-control password-text-box" placeholder="Enter your Password" formControlName="password"
                required>
            <div class="input-group-append">
                <a class="input-group-text pointer" (click)="showPassword = !showPassword">
                    <i class="fa-solid fa-eye-slash text-dark" [ngClass]="{showPassword: 'fa-eye'}"></i> 
                </a>
            </div>
        </div>
        <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="alert alert-danger">
            <div *ngIf="password?.errors?.['required']">
                Password is required.
            </div>
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-lg btn-block w-100 btn-secondary"
            [disabled]="!isChecked || !checkIfDataIsValid() || loading" type="submit">
            LOGIN
            <i class="fa {{loading ? 'fa-spin fa-spinner' : 'fa-register'}}"></i>
        </button>
    </div>
    <div class="form-group mt-3">
        <button class="btn btn-lg btn-block w-100 bg-white" [disabled]="loading" type="button">
            <img src="../../../../assets/images/icons/google-icon.png" height="20px" width="20px" alt=""> &nbsp;
            Login with Google
            <i class="fa {{loading ? 'fa-spin fa-spinner' : 'fa-register'}}"></i>
        </button>
    </div>

    <div>
        DON'T HAVE AN ACCOUNT? &nbsp; <a [routerLink]="['/auth/register']">REGISTER</a>
    </div>
</form>