<div class="card">
    <div class="mb-2 p-4" style="font-size: 0.8rem; font-style: italic;">
        Alice Musa has a paper related to a paper you read called "Gender, Educational attainment and Marital
        instability as predictors of Religious Affiliations among married teaching staff of Nigerian Universities"
    </div>
    <div class="border-light card-body">
        <div class="title mb-2">
            <h4>Students' Conception of Academic Performance in Adamawa State University, Mubi: Implications for
                Counselling
                and Human Development</h4>
        </div>
        <p class="category">
            Journal of Education and Applied Psychology
        </p>
        <p class="author">
            <span class="bg-secondary avatar avatar-xs rounded-circle p-1"><img
                    src="../../../../assets/images/icons/users.png" alt="" height="10" width="10"></span>
            <small>Alice
                Musa</small>
        </p>
        <p>
            <small>111122 view</small> &nbsp; <small>1345 Pages</small>
        </p>
        <div class="card-footer">
            <button class="btn btn-sm btn-rounded btn-secondary mr-3">
                Download
            </button>
            <button class="btn btn-sm btn-rounded btn-primary mr-3">
                Bulk Download
            </button>
            <button class="btn btn-sm btn-rounded btn-light">
                Save To Library
            </button>
        </div>
    </div>
</div>