<section class="bg-white" id="section1">
    <h1 class="mb-4 text-center">Editorial Procedures</h1>
    <p>
        All authors will receive notification of acknowledgment comprising a Manuscript ID upon the receipt of the
        submission, and the Editorial decision concerning publication.
    </p>
    <p>
        IJCAI maintains a double-blind peer-review process. Manuscripts accepted for publication are sent to reviewers.
        Authors may be allowed to suggest names of at least three probable reviewers at the time of submission of their
        manuscript to IJCAI, but the Guest editors will make the final decision. The Guest editors are not, however,
        obligatory to use any or all the nominated reviewers.
    </p>
    <p>
        Notification of the editorial decision is usually provided within four to eight weeks from the submission of the
        manuscript. Publication of solicited manuscripts is not guaranteed. In most cases, manuscripts are accepted
        conditionally, pending an author's revision of the material.
    </p>
    <p>
        As articles are double-blind reviewed, material that might identify authorship of the paper should not be placed
        on the Anonymous Text (i.e. the manuscript body text). Authors are required to use the Structured Title Page
        Information only for identification and other information about the title, abstract, keywords, authors,
        acknowledgment, funding, and paper classification.
    </p>


    <p>
        For full information, authors are directed to read <a class="text-primary" [routerLink]="['./code-of-ethics']">
            Authors Guidelines of the IJCAI.</a>
    </p>
</section>