<section class="bg-white" id="section1">
    <h1 class="mb-4 text-center">Aims and Scope</h1>
    <p>
        The International Journal of Accounting and Finance (IJAF) is established for the purpose of publishing and maintaining high-quality research in accountancy and finance. Nigerian-based and worldwide in scope, IJAF seeks to provide a global forum to enhance communication among academics and professionals in emerging areas of accountancy and finance research and practice. This will be achieved through methodological strategies of understanding and solving critical developing problems and issues related to accountancy and finance.
    </p>
    <p>
        Conceptual and empirical submissions are encouraged to all areas of accountancy and finance and other cognate disciplines such as:
    </p>
</section>

<section id="section2">
    <app-journals-listing></app-journals-listing>
</section>