<div class="bg-dark">
    <div class="container text-light ">
        <footer class="py-5">
            <div class="row">
                <div class="col-md-2 col-6">
                    <h5>MAIN</h5>
                    <ul class="nav flex-column">
                        <li [routerLink]="['']" class="nav-item mb-2"><a class="nav-link p-0 text-muted">Home</a></li>
                        <li [routerLink]="['/publish']" class="nav-item mb-2"><a class="nav-link p-0 text-muted">Publish</a></li>
                        <li [routerLink]="['/editors']" class="nav-item mb-2"><a class="nav-link p-0 text-muted">Editors</a></li>
                        <li [routerLink]="['/articles']" class="nav-item mb-2"><a class="nav-link p-0 text-muted">Articles</a></li>
                        <li [routerLink]="['/journals']" class="nav-item mb-2"><a class="nav-link p-0 text-muted">Journals</a></li>
                    </ul>
                </div>

                <div class="col-md-2 col-6">
                    <h5>INFO</h5>
                    <ul class="nav flex-column">
                        <li [routerLink]="['/info/peer-review']" class="nav-item mb-2"><a class="nav-link p-0 text-muted">Peer-Review</a></li>
                        <li [routerLink]="['/info/code-of-ethics']" class="nav-item mb-2"><a class="nav-link p-0 text-muted">Code of Ethics</a></li>
                        <li [routerLink]="['/info/editorial-procedures']" class="nav-item mb-2"><a class="nav-link p-0 text-muted">Editorial Procedures</a></li>
                        <li [routerLink]="['/info/journal-information']" class="nav-item mb-2"><a class="nav-link p-0 text-muted">Journal Information</a></li>
                        <li [routerLink]="['/info/faq']" class="nav-item mb-2"><a class="nav-link p-0 text-muted">FAQs</a></li>
                    </ul>
                </div>

                <!-- <div class="col-2">
                    <h5>Section</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">Home</a></li>
                        <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">Features</a></li>
                        <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">Pricing</a></li>
                        <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">FAQs</a></li>
                        <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">About</a></li>
                    </ul>
                </div> -->

                <div class="col-md-8 col-12">
                    <form>
                        <h5>Subscribe to our newsletter</h5>
                        <!-- <p>Monthly digest of whats new and exciting from us.</p> -->
                        <div class="d-flex w-100 gap-2">
                            <!-- <label for="newsletter1" class="visually-hidden">Email address</label> -->
                            <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                            <button class="btn btn-secondary" type="button">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="d-flex justify-content-between py-4 my-4 border-top">
                <p>© 2021 Company, Inc. All rights reserved.</p>
                <ul class="list-unstyled d-flex">
                    <li class="ms-3"><a class="link-dark"><svg class="bi" width="24" height="24">
                                <use xlink:href="#twitter"></use>
                            </svg></a></li>
                    <li class="ms-3"><a class="link-dark"><svg class="bi" width="24" height="24">
                                <use xlink:href="#instagram"></use>
                            </svg></a></li>
                    <li class="ms-3"><a class="link-dark"><svg class="bi" width="24" height="24">
                                <use xlink:href="#facebook"></use>
                            </svg></a></li>
                </ul>
            </div>
        </footer>
    </div>
</div>